.heading{

font-size: large;
font-weight: bold;

}
.center{
   /* border: 5px solid #FFFF00;*/
    text-align: center;
    
}
.error{

    color: red;
}


div.login-container label       { text-align:right; }
div.login-container label:after { content: ":"; }

div.signup-container label       { text-align:right; }
div.signup-container label:after { content: ":"; }


body{
    /* color:rgb(75, 137, 173); */
    background-image: linear-gradient(69deg, rgba(5, 39, 114, 0), rgb(0, 21, 46));
    font-family: monospace;
}
.vertical{

    margin-left: 10px;
    width: auto;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    height: 100px;
    align-items: flex-end;
}
.vertical2{

    margin-left: 10px;
    margin-top: 5px;
    width: auto;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    align-items: flex-start;
    height:249px;

}

.maindiv{


display: flex;
flex-direction: row;
flex-basis: content;
justify-content: center;
align-items: center;
margin: 100px;

}
.Signout{

    margin-top: 15px;
    float: right;
}

.login-container{
    flex:1;
    width: auto;
    height: max-content;
    align-items: flex-end;

    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
   

}
.signup-container{
    
    width: auto;
    height: max-content;

    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
.secondarybox{

    display:flex;
    flex-direction: column;
    width: 280px;
    height: 400px;
    

}


.mainImage{

    width: 340px;
    height: 400px;

}

.HomePage{

text-align: center;



}

.userMainContainer{

    display: flex;
    flex-direction: row ;
    justify-content: center;

}

.userSecondContainer{

    display: flex;
    flex-direction: column;

}

.setting{
    text-align: center;

}

.browse{
    text-align: center;


}

nav{
            height: 80px;
            width: 100%;
            border: 3px;
            background-color: #34495e ;
            color: black;
            padding: 6px;
           
            
}
nav li{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: large;
    color: cyan;
}
nav ul{

    float: right;
   
    margin-right: 40px;
    

}
nav a {
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
    border : 1px solid transparent;
    padding : 7px 10px;
    border-radius : 3px;
}
.Tabs{

    
    font-size: large;
}
*{

    list-style: none;
    padding:0;
    margin:0;
    text-decoration: none;
}
label.logo{

font-size: 35px;
font-weight: bold;
color:white;
padding: 0 100px;
line-height: 80px;

}

.MainDisplay{

display: flex;
margin:auto;
width: 1200px;
height: 700px;
background-color:#040c777e;
color: white;


}

.home{
display: block;
width: 1200px;
height: 700px;
}

.hometab{
display: flex;
flex-direction: row;

}
.userInfo{
   
    border: 3px solid rgb(0, 0, 0);
    margin-left: 30px;
    width: 50%;
    height: 50%;
        
}
.infolist{

    
}



.messageWall{
   
    border: 3px solid rgb(0, 0, 0);
    width: 50%;
  
    align-items: center;    

}
.secondCont{

    display: flex;
    flex-direction: column;

}


.browse{

    display: none;
    width: 1200px;
    height: 700px;
}

.setting{

display: none;
width: 1200px;
height: 700px;
}

